/* .root {
    margin-left: 50px;
}
.applicant {
    display: flex;
    flex-direction: column;
    margin-right: 50%;
}

.applicantInfo > h4 {
    display: inline;
    padding-right: 10px;
}

.applicantInfo > p {
    display: inline;
    text-align: right;
}

.applicantStatus > h4 {
    display: inline;
}

.statusButton {
    width: 126px;
}

.comments {
    display: flex;
    flex-direction: column;
}

.commentBox {
    padding: 10px;
    margin-bottom: 15px;
}

.commentSubmit {
    width: 126px;
} */
