.sectionContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.sectionTitleContainer {
    width: 20%;
    
}
.sectionRightFiller {
    width: 20%;
}

.sectionNotesContainer {
    width: 60%;
}

.sectionEligibilityContainer {
    width: 60%;
    height: 450px;
}

.stickyNote {
    border-radius: 10px;
    border: none;
}

.noteStack {
    display: flex;
    flex-direction: column;
}

.eligibilityStack {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 255px;
}

.documentStack {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 255px;
}

.sectionDocumentsContainer {
    width: 60%;
    height: 160px;
}

.infoSubmissionBackground {

}

.dropdown {
    
}