.modalWrapper {
  width: 1000px;
  margin: 4rem auto;
  background: white;
  box-sizing: border-box;
}

.modalHeader {
  color: white;
  background: black;

  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.modalContent { padding: 2rem; }
.closeButton { cursor: pointer; }
.submitContainer { margin-top: 1rem; }
